<div class="col-md-8 col-md-offset-2">
		<br>
		<div  class="panel panel-success" >
			<div class="panel-heading">
				<h1 class="panel-title">Add education</h1>
			</div>

			<div class="panel-body">
				<div class="row">
					<div class="col-md-4 col-md-offset-2">City</div>
				
					<div class="col-md-4">
						<select class="common-input">
							<option selected="selected" value="0">Select City</option>
							<option value="1">Bangalore</option>
							<option value="2">Hydrabad</option>
							<option value="3">Mumbai</option>
							<option value="4">Delhi</option>
							<option value="5">Indore</option>
						</select>
				</div>
				</div>

				<div class="row">
					<div class="col-md-4 col-md-offset-2">Education Type</div>
					
					<div class="col-md-4">
						<select class="common-input">
							<option selected="selected" value="0">Select Type</option>
							<option value="1">School</option>
							<option value="2">College</option>
							<option value="3">Coaching</option>
							<option value="5">Tuition</option>
						</select>
					</div>
				</div>

				<div class="row">
					<div class="col-md-4 col-md-offset-2">Degree/Class</div>
					
					<div class="col-md-4">
						<select class="common-input">
							<option selected="selected" value="0">Select Degree</option>
							<option value="1">MCA</option>
							<option value="2">MBA</option>
							<option value="3">BSc</option>
							<option value="4">MSc</option>
						</select>
					</div>
				</div>

				<div class="row">
					<div class="col-md-4 col-md-offset-2">Name of education center</div>
					
					<div class="col-md-4">
						<input type="text" class="common-input" placeholder="Name of education center" />
					</div>
				</div>

				<div class="row">
					<div class="col-md-4 col-md-offset-2">Description</div>
					
					<div class="col-md-4">
						<input type="text" class="common-input" placeholder="Description" />
					</div>
				</div>

				<div class="row">
					<div class="col-md-4 col-md-offset-2">Fee Details</div>
					
					<div class="col-md-4">
						<input type="text" class="common-input" placeholder="Fee in (RS)" />
					</div>
				</div>

				<div class="row">
					<div class="col-md-4 col-md-offset-2">
						<input type="submit" class="common-btn" value="Save Changes" />
					</div>
					
					<div class="col-md-4">
						<input type="submit" class="common-btn" value="Cancel" />
					</div>
				</div>
			</div>
		</div>
</div>