<!-- Image Background Page Header -->
<!-- Note: The background image is set within the business-casual.css file. -->
<header class="business-header">
    <div class="container">
        <div class="row data-over-img">
        	<div class="col-md-4">
                <div class="brand-heading">
                    <h2>{{appName}}</h2>
                    <small>{{appTagLine}}</small>
                </div>
        	</div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4 col-md-offset-2">City</div>
                
                    <div class="col-md-4">
                        <select class="common-input">
                            <option selected="selected" value="0">Select City</option>
                            <option value="1">Bangalore</option>
                            <option value="2">Hydrabad</option>
                            <option value="3">Mumbai</option>
                            <option value="4">Delhi</option>
                            <option value="5">Indore</option>
                        </select>
                </div>
                </div>

                <div class="row">
                    <div class="col-md-4 col-md-offset-2">Education Type</div>
                    
                    <div class="col-md-4">
                        <select class="common-input">
                            <option selected="selected" value="0">Select Type</option>
                            <option value="1">School</option>
                            <option value="2">College</option>
                            <option value="3">Coaching</option>
                            <option value="5">Tuition</option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 col-md-offset-2">Degree/Class</div>
                    
                    <div class="col-md-4">
                        <select class="common-input">
                            <option selected="selected" value="0">Select Degree</option>
                            <option value="1">MCA</option>
                            <option value="2">MBA</option>
                            <option value="3">BSc</option>
                            <option value="4">MSc</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div>
                    <img class="img-responsive" src="../../assets/img/search-button.png">
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Page Content -->
<div class="container">
    <hr>
    <div class="row">
        <div class="col-sm-8">
            <h2>How would you like to get started today?</h2>
            <p>In the Web site, You can find best place for education , even for school, college ,
                coaching , tuition etc , you can have one best education center ...
            </p>
            <p>
                <a class="btn btn-default btn-lg" >Build Career &raquo;</a>
            </p>
        </div>
        <div class="col-sm-4">
            <h2>Contact Us</h2>
            <address>
                <strong>Angular-2</strong>
                <br>#51/16 Tavarekere , BTM 1st 
                <br>Bangalore, 560029
                <br>
            </address>
            <address>
                <abbr title="Phone">P:</abbr>(+91) 78478-26750
                <br>
                <abbr title="Email">E:</abbr> <a href="mailto:#">magic@angular2.com</a>
            </address>
        </div>
    </div>
    <!-- /.row -->
    <hr>
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3" *ngFor="let menu of menus">
            <a [routerLink]="menu.href">
                <img class="img-circle img-responsive img-center" src="{{menu.img_url}}">
            </a>
            <center><h2>{{menu.label}}</h2></center>
        </div>
    </div>
</div>
<!-- /.container -->