
<div class="col-md-10 col-md-offset-1">
	<br>
	<div  class="panel panel-success" >
		<div class="panel-heading">
			<h1 class="panel-title">You have search for {{educationType}}</h1>
		</div>

		<div class="panel-body">
			<div class="row">
				<div class="col-md-4">
					<div class="panel panel-default">
  						<div class="panel-heading">
   						 	<h1 class="panel-title">Fee Range</h1>
  						</div>
  						
  						<div class="panel-body checkbox-border">
   							 <div>
            					<input id="checkbox-1"  name="checkbox-1" type="checkbox">
            					<label for="checkbox-1" >Rs. 500 - Rs. 999 </label>
        					</div>
        					
        					<div>
					            <input id="checkbox-2"  name="checkbox-2" type="checkbox">
					            <label for="checkbox-2" >Rs. 1000 - Rs. 1999</label>
					        </div>

					        <div>
					            <input id="checkbox-3"  name="checkbox-3" type="checkbox">
					            <label for="checkbox-3" >Rs. 2000 - Rs. 2999</label>    
					        </div>

					        <div>
					            <input id="checkbox-4"  name="checkbox-4" type="checkbox">
					            <label for="checkbox-4" >Rs. 3000 - Rs. 3999</label>    
					        </div>

					        <div>
					            <input id="checkbox-5"  name="checkbox-5" type="checkbox">
					            <label for="checkbox-5" >Rs. 4000 - Rs. 4999</label>    
					        </div>
  						</div>
					</div>
					
				</div>
			
				<div class="col-md-8">

					<div class="panel panel-default">
						<div class="panel-heading">
						 	<h1 class="panel-title">Details</h1>
						</div>
						
						<div class="panel-body">
							<div class="col-lg-6">
    							<div class="input-group">
      								<input type="text" class="form-control" placeholder="Search for">
     								<span class="input-group-btn">
       									<button class="btn btn-default" type="button">Search</button>
      								</span>
   								 </div>
  							</div>

							<table class="table table-bordered">
								<thead>
									<tr>
										<th>Name</th>
										<th>Description</th>
										<th>Rating</th>
										<th>Review Count</th>
									</tr>
								</thead>

								<tbody>

								</tbody>
							</table>
						</div>
					</div>

				</div>
					
			</div>
			
		</div>
	</div>
</div>